

#top,#main,#bottom{
    width: 1000px;
    margin: 0 auto;

}


/* 1.顶部*/
#top{

}

#top .search-nav{
    overflow: hidden;
}

.logo,.middle,#top ul{
    float: left;
}

.logo{
    width: 168px;
    border-radius: 10px;
}

.middle{
    width: 380px;
    margin-left: 120px;
    margin-top: 3px;
    position: relative;
}
.middle input{
    box-sizing: border-box;
    width: 380px;
    height: 36px;
    border: 1px solid #999;
    border-radius: 18px;
    background: #f5f5f5;
    padding-left: 20px;
    padding-right: 40px;
}

.middle img{
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
}
#top ul{
    float: right;
    margin: 10px 0;

}

#top li{
    float: left;
    line-height: 20px;
    margin-left:10px;
}
#top li img{
    vertical-align: bottom;
}

.nav{
    margin: 30px 0;
}

.nav a{
    font-size: 16px;
    margin-right: 50px;
}
/* 2.主体 */
#main {

}

#main>h2{
    color: #000;
}

#main>h2>p{
    float: right;
    font-size: 12px;
    color: #ccc;
}

#main>h2 b{
    color:#997679;
    font-size: 16px;
}

#main>h2 span{
    margin-left: 30px;
}

/* 顶部工具栏*/
.type{
    margin-top: 25px;
    height: 36px;
    border-top: 1px solid gray;
    background: #e6e6e5;
    box-shadow: 0 2px 5px gray;
    color: #808080;
}
.type div{
    float: left;
    text-align: center;
    line-height: 36px
}

.type div{
    ;
}
.check{
    width: 52px;
}
.gname{
    width: 380px;
}
.gcount{
    width:150px ;
}
.gprice{
    width: 162px;
}
.action{
    width: 126px;
}
.gsum{
    width: 130px;
}
.checkAll{
    vertical-align: middle;
}

/*  商品展示 item */

.content{
    margin-top: 20px;
}
.item{
    height: 115px;
    background: white;
    text-align: center;
    color: #808080;
    margin-bottom: 15px;
}
.item div{
    float: left;
    box-sizing: border-box;
    height: 115px;
}

/*调整垂直居中*/
.item .check,.item .gsum,.item .action{
    line-height: 115px;
}
.item .gname{
    border-right: 1px solid gray;
    text-align: left;
}
.item .gname img{
    width: 84px;
    height: 84px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}
.item .gname p:nth-child(2){
    margin-top: 15px;
    margin-bottom: 10px;
}
.item .gname p:nth-child(3){
    margin-bottom: 5px;
}

.gprice h3{
    color: #997679;
    margin-top: 40px;
    margin-bottom: 10px;
}
.gcount .minus{
    margin-left: 35px;
}

.gcount a{
    float: left;
    width: 26px;
    height: 26px;
    border: 1px solid gray;
    background: #e8e8e8;
    color: #333;
    line-height: 26px;
    font-size: 16px;
    margin-top: 40px;
}
.gcount input{
    float: left;
    border: 1px solid gray;
    border-right: 0;
    border-left: 0;
    width: 26px;
    height: 26px;
    padding: 0;
    text-align: center;
    margin-top: 40px;
}